html {
    background: #77AFB6;
    font-family: 'Comfortaa', sans-serif;
    color: #FFFFFF;
}

body{
    margin:0;
}

p{
    font-size: large;
}

#firstFade{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 90vh;
}

#hydrateTime{
    padding-top: 10%;
    align-self: center;
    font-size: 96px;
}

#subText{
    padding: 0px 25px 0px 25px;
}

#hydrationFactHeader{
    font-size: 64px;
}

#hydrationFactText{
    font-size: 24px;
}

#firstFade{
    opacity:1;
    animation: fadeOut 6s;
}

#secondFade{
    /* Fix sizing issue as seen on bb's computer */
    font-family: 'Comfortaa', sans-serif;
    opacity: 0%;
    animation: fadeIn 2s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}

#headerText {
    font-size: 96px;
}


#btnGroup{
    width: 50%;
    /* GOD WHY */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

img{
    max-width: 25%;
}

button{
    color: #FFFFFF;
    font-size: 48px;    
    height: 200px;
    width: 400px;
    border: none;
    border-radius: 10px;
}

#yes{
    background-color: #326E6E;
}

#no{
    background-color: #EE254E;
}

#endText{
    font-size: 64px;
}

@keyframes fadeIn {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}