html {
    background: #77AFB6;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    /* font-family: 'Indie Flower', cursive; */
    /* font-weight: bold; */
    /* font-size:48px; */
}

/* body{
    display:inline;
    flex-flow: column;
    gap: 1em;
} */

p{
    font-size: large;
}

button{
    background-color: green;
    border: none;
    color: white;
    padding: 8px;
    display: inline-block;
    font-size: medium;
}

#firstFade{
   /*  */
}
#hydrateTime{
    font-size: 98px;
}

#hydrationFactHeader{
    font-size: 64px;
}

#hydrationFactText{
    font-size: 24px;
}

#yes{
    background-color: green;
}

#no{
    background-color: red;
}

#firstFade{
    opacity:1;
    transition: opacity 3s;
}

#secondFade{
    opacity: 0%;
    transition: opacity 3s;
}